.unselect{
	color:grey;
	font-size:40px;
}
.select{
	color:black;
	font-size:60px;
}
.last{
	color:red;
	font-size:60px;
}
.etat{
	color:red;
	font-size:60px;
}
.nonEtat{
	color:grey;
	font-size:40px;
}
table {
	border-collapse:collapse;
	width: 100%;
	height: 100%;
}
td {
	border:solid black 1px;
	text-align:center;
	width:10%;
	height:10%;
	cursor: pointer;
}
div{
	margin: 0px
	border: 0px
	padding: 0px
}
#core{
	width:100%;
	height:98%;
}
#core > div {
	display: inline-block;
    vertical-align: top;
}
#numeros {
	width:100%;
	height:100%;
}
#parties {
	width:0%;
	height:100%
}
#commandes {
	width:100%;
	height:2%;
}
#list {
	margin-left:20%
}
html{
	width:99%;
	height:98%;
}
body{
	width:100%;
	height:100%;
}
img {	
	width:15px;
	height:15px;
	cursor:pointer;
}